*{
     margin: 0;
     padding: 0;

     font-family: Arial, Helvetica, sans-serif;
}

html{
     background-image: url('https://media.discordapp.net/attachments/921439279136247868/1034731050166919198/46C65B8F-95E7-4785-8760-5FDF515FAB14.png');
     background-size: cover;
}

body{
     background-color: transparent;
     -webkit-user-select: none;
}

.NUIBox{
     position: absolute;
     top: 50%;
     left: 30%;
     transform: translate(-30%, -50%);



     color: white;
     background-color: rgba(0, 0, 0, 0.685);
     width: 570px;
     height: 400px;

     border-radius: 25px;
     border: 3px solid #8730FD;
    
}


.NUIBox h1{
     background-color: black;
     text-align: center;

     border-radius: 25px;
     border: 3px solid #8730FD;
}

.NUIContainer{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
}
 
.box{
     width: 100px;
     height: 100px;

     border-radius: 25px;
     border: 3px solid #8730FD;
  
     background: rgba(135, 48, 253, 0.8);
     margin: 10px;
     padding: 3px;

     box-sizing: border-box;

     font-size: 30px;
}

.box h1{
     position: relative;
     margin: 0;
     left: 2%;
     top: 15%;
}

.spieler{
     margin: 25px;
}

.button{
     background-image: url("img/button.png");
     background-size: cover;

     border-radius: 25px;
     border: 3px solid #8730FD;

     height: 60px;
     width: 180px;
    
     color: #8730FD;
     font-size: 40px;
     -webkit-text-stroke-width: 1px; 

     -webkit-text-stroke-color: white;


position: relative;
     margin: 0;
  

  top: 45%;

}
